
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Users can only read/write their own profile
    match /users/{userId} {
      allow read;
      allow create, update, delete: if request.auth.uid == userId;
    }

    // Chats are readable/writable only by participants
    match /chats/{chatId} {
      allow read, write: if request.auth.uid in resource.data.participants;
    }

    // Messages are readable by chat participants
    // Users can only create messages as themselves
    match /chats/{chatId}/messages/{messageId} {
      allow read: if get(/databases/$(database)/documents/chats/$(chatId)).data.participants.hasAny([request.auth.uid]);
      allow create: if request.auth.uid == request.resource.data.senderId && get(/databases/$(database)/documents/chats/$(chatId)).data.participants.hasAny([request.auth.uid]);
    }
  }
}
